[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "~=3.1.0"
djangorestframework = "==3.11.1"
django-rest-auth = "==0.9.5"
django-allauth = "==0.43.0"
coreapi = "*"
PyYAML = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.8"
